/* Students: Our work lies in the js file. */

body { /* Visual */
    background-image: url('assets/images/charlotteSkyline.jpg');
    background-color: #cccccc;
    background-origin: content-box;
    background-size: 100%;
}
